.filters {
  display: none;
  position: absolute;
  border-radius: 0px 0px 5px 5px;
  width: 160px;
  text-align: end;
  z-index: 1;
  list-style: none;
  background-color: white;
  margin: 0;
  padding: 0;
  box-shadow: 0px 2px 5px lightgray;
  transition: all 200ms ease-out;
}
.filter li:last-child {
  border-radius: 0px 0px 5px 5px;
}
.filters li {
  color: black;
  padding: 12px 16px;
  background-color: white;
  margin: 0;
  font-weight: 500;
  text-decoration: none;
  display: block;
  cursor: pointer;
  transition: background-color 200ms ease-in, color 200ms ease-out;
}
.filter:hover .filters {
  display: block;
}
.filter:hover li:hover {
  background-color: orange;
  color: white;
}
.filter {
  height: fit-content;
  width: fit-content;
}
.filterBtn {
  background-color: transparent;
  color: black;
  padding: 16px;
  font-weight: 600;
  font-size: 16px;
  border: none;
  text-align: end;
  cursor: pointer;
  z-index: 100;
  outline: none;
}
@media (max-width: 560px) {
  .filters,
  .filter,
  .filterBtn {
    text-align: end;
    width: 110px !important;
    font-size: 0.9rem;
  }
  .filters li {
    padding: 10px 15px;
  }
}
