.feed-page {
  padding-top: 90px;
  background-color: #f1f4ffff;
}
.feed-section {
  background-color: #f1f4ffff;
  padding-bottom: 50px;
  min-height: 90vh;
}
.feed {
  background-color: rgb(255, 255, 255);
  margin-inline: 10%;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.topic-item-box {
  padding-left: 10px;
  padding-block: 20px;
}
.nav-link {
  text-decoration: none;
}

.loading-box {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.loader {
  border: 5px solid rgb(155, 155, 155);
  border-top: 5px solid rgb(121, 236, 13);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.save-icon-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.save-icon {
  border-radius: 50%;
  padding: 2px;
}
.save-icon:hover {
  background-color: rgba(97, 97, 97, 0.568);
  opacity: 0.8;
}
.feed-list-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40px;
}
.feed-list-icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.username {
  margin-left: 15px;
}
.saved-topics-header {
  padding-top: 100px;
  background-color: rgb(192, 192, 192);
  text-align: center;
}
.saved-topics-header text {
  /* color: white; */
  text-decoration: underline;
  font-size: 20px;
  font-weight: bold;
}
.feed-item {
  padding : 7px 0; 
  display: flex;
  flex-wrap: wrap;
  border-bottom: rgba(97, 97, 97, 0.568) solid 0.5px;
}
.feed-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.feed-title {
  color: rgb(99, 99, 99);
  font-weight: bold;
  font-size: large;
  width: 65%;
  padding-left: 5px;
}
.midle-field {
  width: 20%;
  display: flex;
  flex-direction: row;
  color: black;
  align-items: center;
}
.post-tag {
  width : 15%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  color: rgb(92, 185, 5);
  align-self: center;
  font-weight: bold;
}
@media screen and (max-width: 760px) {
  .feed {
    margin-inline: 2%;
  }
  /* .feed-title {
    width : 80%;
  } */
  /* .midle-field {
    width : 20%;
  } */
  /* .post-tag {
    display: none;
  } */
  .midle-field {
    display : none;
  }
  .feed-page {
    padding-top : 130px
  }
}
