.feed-page {
  padding-top: 90px;
  background-color: #f1f4ffff;
}
.feed-section {
  background-color: #f1f4ffff;
  padding-bottom: 50px;
  min-height: 90vh;
}
.feed {
  background-color: rgb(255, 255, 255);
  margin-inline: 10%;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.topic-item-box {
  padding-left: 10px;
  padding-block: 20px;
}
.search-field {
  position: relative;
  transition: all 0.3s;
  margin-left: 15px;
  width: 20%;
  margin-top: -9px;
}
.search-field input {
  border-radius: 10px;
  display: block;
  outline: none;
  width: 100%;
  min-width: 150px;
  background: #e6e6ff;
  padding: 5px;
  padding-left: 30px;
  border: none;
  transition: all 0.3s;
}
.search-field-active input {
  width: 100%;
  font-size: 20px;
  padding-left: 40px;
  box-shadow: 5px 0px 23px 3px rgba(0, 0, 0, 0.56);
}
.search-field-active {
  width: 100%;
  transition: 0.3s;
  border-radius: 10px;
  box-shadow: 0 0 0 5000px rgba(0, 0, 0, 0.3);
}
.search-field img {
  width: 18px;
  position: absolute;
  top: 10px;
  margin-left: 10px;
  transition: all 0.3s;
}
.search-field-active img {
  position: absolute;
  top: 10px;
  width: 22px;
  margin-left: 10px;
}
@media screen and (max-width: 760px) {
  .search-field-active {
    width: 240px;
  }
  .search-field-active .filter {
    display: none;
  }
}
.result-box {
  position: absolute;
  background-color: white;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 5px;
  box-shadow: 5px 0px 23px 3px rgba(0, 0, 0, 0.56);
  padding: 10px;
}
.search-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.search-item text {
  color: rgb(99, 99, 99);
  font-weight: bold;
  font-size: 15px;
}
/* .filter {
  display: flex;
  align-items: center;
  width : 100%;
  align-items : center;
  margin-left : 20px;
} */
/* .filter-button {
  padding : 5px 10px;
  border-radius: 25px;
  border : 2px solid black;
  margin-top : -15px;
  margin-left : 10px;
} */
.topic-header {
  /* display: flex;
  align-items: center;
  width : 100%;
  margin-bottom: 3px; */
  display: grid;
  grid-template-columns: 1fr 8fr 3fr;
}
@media (max-width: 990px) {
  .topic-header {
    grid-template-columns: 1fr 6fr 5fr;
  }
  /* .filter-button {
    padding : 5px;
  } */
}
.filter-field {
  margin-top: -10px;
  align-self: center;
  padding-left: auto;
}
.nav-link {
  text-decoration: none;
}

.loading-box {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.loader {
  border: 5px solid rgb(155, 155, 155);
  border-top: 5px solid rgb(121, 236, 13);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.save-icon-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.save-icon {
  border-radius: 50%;
  padding: 2px;
}
.save-icon:hover {
  background-color: rgba(97, 97, 97, 0.568);
  opacity: 0.8;
}
.feed-list-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40px;
}
.feed-list-icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.username {
  margin-left: 15px;
}
.saved-topics-header {
  padding-top: 100px;
  background-color: rgb(192, 192, 192);
  text-align: center;
}
.saved-topics-header text {
  /* color: white; */
  text-decoration: underline;
  font-size: 20px;
  font-weight: bold;
}
.feed-item {
  padding: 7px 0;
  display: flex;
  flex-wrap: wrap;
  border-bottom: rgba(97, 97, 97, 0.568) solid 0.5px;
  transition: all 0.5s;
}
.feed-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.feed-title {
  color: rgb(99, 99, 99);
  font-weight: bold;
  font-size: 15px;
  width: 50%;
  padding-left: 5px;
}
.midle-field {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 15px;
  color: black;
  align-items: center;
}
.post-tag {
  width: 15%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  color: rgb(92, 185, 5);
  align-self: center;
  font-weight: bold;
}
.post-tag text {
  font-size: 12px;
}
.post-likes {
  align-self: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* width: m; */
  /* border: solid; */
  /* padding-inline: 1%; */
}
@media screen and (max-width: 760px) {
  .feed {
    margin-inline: 2%;
  }
  /* .feed-title {
    width : 80%;
  } */
  /* .midle-field {
    width : 20%;
  } */
  /* .post-tag {
    display: none;
  } */
  .midle-field {
    display: none;
  }
  .post-likes {
    margin-left: 20%;
  }
}
.pagination-button {
  font-size: 18px;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
}
.pagination-button:active {
  background-color: rgba(0, 0, 0, 0.2);
}
.pages {
  display: flex;
  flex-direction: row;
  margin-inline: 10px;
}
.page-number {
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 10px;
  margin-inline: 5px;
  background-color: rgba(0, 0, 0, 0.2);
}
.page-number-active {
  background-color: blueviolet;
  color: white;
}
.page-number:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.page-number-active:hover {
  background-color: blueviolet;
  color: white;
}
