.user-view-page {
  padding-top: 60px;
}
.user-card {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 15%), 0 0 0 rgb(0 0 0 / 20%);
}
.user-card img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
.user-card-user {
  padding-left: 2%;
  width: 100%;
  font-size: 15px;
  display: flex;
  flex-direction: column;
}
.user-menucard {
  margin-top: 10px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 15%), 0 0 0 rgb(0 0 0 / 20%);
  border-radius: 10px;
  padding: 5px;
}
.user-menucard-item {
  margin-right: 10px;
}
.user-menucard-item a {
  display: flex;
}
.user-menucard-item a img {
  width: 24px;
  margin-left: 5px;
}
.profile-location {
  display: flex;
  justify-self: flex-end;
}
@media screen and (max-width: 760px) {
  .user-view-page {
    padding-inline: 5%;
  }
  .user-card img {
    width: 150px;
    height: 150px;
  }
}
