.message-page {
  padding-top: 100px;
  background-color: rgb(238, 238, 238);
  padding-inline: 5%;
  padding-bottom: 40px;
  height: 100vh;
}
.message-card {
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.chat-users-section {
  width: 400px;
  border-right: solid 5px;
  border-color: rgb(165, 165, 165);
  flex-wrap: wrap;
  overflow: scroll;
  overflow-x: hidden;
}
.chat-users-section::-webkit-scrollbar {
  width: 0px;
}
.chat-usercards {
  padding-top: 10px;
  min-width: 300px;
}
.chat-user-heading {
  padding-inline: 10px;
  padding-block: 10px;
  display: flex;
  flex-direction: row;
  background-color: #b3b3b3;
  transition: box-shadow 500ms;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  /* justify-content: space-evenly; */
}
.chat-user-heading:focus-within {
  border-bottom: rgb(189, 189, 189) 1px solid;
  box-shadow: 0 8px 16px 0 rgba(150, 150, 150, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.chat-user-heading input {
  width: 100%;
  outline: none;
  color: #868686;
  border: none;
  border-radius: 10px;
  padding-inline: 10px;
  font-size: large;
  /* padding-left: 20px; */
  margin-left: 10px;
}
.chat-user-card {
  cursor: pointer;
  border-bottom: solid 1px rgb(211, 211, 211);
  padding: 5px;
  font-size: 20px;
  color: rgb(75, 75, 75);
  flex-wrap: wrap;
}
.chat-user-card:hover {
  background-color: rgba(0, 0, 0, 0.07);
}
.chat-user-card img {
  border: solid #b3b3b3 3px;
  width: 50px;
  height: 50px;
  border-radius: 40%;
}
.chat-user-card text {
  padding-left: 5px;
}
.message-section {
  flex-wrap: wrap;
  width: 80%;
  min-width: 300px;
}
.message-section-heading {
  background-color: rgb(212, 212, 212);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  padding: 5px;
}
.message-section-heading text {
  font-size: large;
}
.message-chat-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.message-section-heading img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-inline: 1%;
}
.message-section-chat-input {
  background-color: rgb(212, 212, 212);
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}

.message-section-chat-input input {
  height: 40px;
  outline: none;
  margin-right: 8px;
  border: none;
  border-radius: 20px;
  width: 85%;
  padding-left: 20px;
}
.chat-box {
  height: 100%;
  background-color: rgb(248, 248, 248);
  display: flex;
  padding-bottom: 5px;
  padding-top: 10px;
  flex-direction: column;
  /* justify-content: flex-end; */
  overflow: scroll;
  overflow-x: hidden;
}
.sender-message {
  color: white;
  align-self: flex-end;
  background-color: cornflowerblue;
  width: fit-content;
  padding: 5px;
  margin-block: 3px;
  padding-inline: 13px;
  margin-left: 10px;
  margin-right: 10px;
  clip-path: polygon(0 0, 95% 0%, 95% 80%, 100% 100%, 0% 100%, 0% 20%);
  border-radius: 5px;
}
.receiver-message {
  color: white;
  align-self: flex-start;
  background-color: cornflowerblue;
  width: fit-content;
  padding: 5px;
  margin-block: 3px;
  padding-inline: 13px;
  margin-left: 10px;
  margin-right: 10px;
  clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 0% 100%, 5% 85%);
  border-radius: 5px;
}
.leftMenubutton {
  background-color: #868686;
  padding: 2px;
  display: none;
  border-radius: 3px;
}

@media screen and (max-width: 760px) {
  .chat-users-section {
    position: absolute;
    background-color: white;
    z-index: 5;
    width: 90%;
    height: 80%;
    transition: width 0.5s;
  }
  .chat-users-section-open {
    width: 90%;
  }
  .chat-users-section-close {
    width: 0px;
  }
  .message-section {
    width: 100%;
  }
  .leftMenubutton {
    display: block;
  }
}
