.message-page {
  padding-top: 120px;
  background-color: #f1f4ffff;
  padding-inline: 20%;
  padding-bottom: 40px;
  height: 100vh;
}
.message-card {
  background-color: rgb(194, 194, 194);
  height: 100%;
  border-radius: 10px;
  display: flex;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  flex-direction: row;
}
.chat-users-section {
  width: 400px;
  border-right: solid 5px;
  border-color: rgb(165, 165, 165);
  flex-wrap: wrap;
  overflow: scroll;
  overflow-x: hidden;
}
.chat-users-section::-webkit-scrollbar {
  width: 0px;
}
.chat-usercards {
  background-color: #444753;
  /* padding-top: 10px; */
  min-width: 300px;
}
.chat-user-heading {
  position: relative;
  padding-inline: 10px;
  padding-block: 10px;
  display: flex;
  flex-direction: row;
  background-color: #656874;
  transition: box-shadow 500ms;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  /* justify-content: space-evenly; */
}
/* .chat-user-heading:focus-within {
  border-bottom: rgb(189, 189, 189) 1px solid;
  box-shadow: 0 8px 16px 0 rgba(150, 150, 150, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */
.chat-user-heading input {
  width: 100%;
  outline: none;
  color: #868686;
  border: none;
  border-radius: 10px;
  padding-inline: 10px;
  font-size: large;
  /* padding-left: 20px; */
  margin-left: 10px;
}
.chat-user-card {
  cursor: pointer;
  border-bottom: solid 2px rgb(175, 175, 175);
  padding: 10px;
  font-size: 20px;
  color: rgb(189, 189, 189);
  flex-wrap: wrap;
  background-color: #444753;
}
.chat-user-card:hover {
  background-color: rgba(0, 0, 0, 0.07);
}
.chat-user-card img {
  border: solid #b3b3b3 2px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.chat-user-card text {
  padding-left: 15px;
}
.message-section {
  flex-wrap: wrap;
  width: 80%;
  min-width: 300px;
}
.message-section-heading {
  /* background: rgba(125, 125, 125, 1); */
  background: linear-gradient(120deg, rgb(68, 71, 83), rgb(126, 126, 126));
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}
.message-section-heading text {
  font-size: 22px;
  margin-left: 12px;
  color: white;
}
.message-chat-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.message-section-heading img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-inline: 1%;
}
.message-section-chat-input {
  background: linear-gradient(120deg, rgb(68, 71, 83), rgb(126, 126, 126));
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  padding-left: 5%;
}

.message-section-chat-input input {
  height: 40px;
  outline: none;
  margin-right: 8px;
  border: none;
  border-radius: 20px;
  width: 90%;
  padding-right: 40px;
  padding-left: 20px;
}
.chat-box {
  height: 100%;
  background: url("../../assets/bgimage.jpg") fixed;
  display: flex;
  /* padding-bottom: 5px; */
  /* padding-top: 10px; */
  flex-direction: column;
  /* justify-content: flex-end; */
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: hidden;
}
.sender-message {
  color: white;
  align-self: flex-end;
  background: linear-gradient(300deg, #248a52, #257287);
  width: fit-content;
  max-width: 85%;
  padding: 5px;
  margin-block: 5px;
  padding-inline: 13px;
  margin-left: 10px;
  margin-right: 10px;
  clip-path: polygon(0 0, 95% 0%, 95% 80%, 100% 100%, 0% 100%, 0% 20%);
  border-radius: 5px;
}
.receiver-message {
  color: white;
  align-self: flex-start;
  background: linear-gradient(120deg, #248a52, #257287);
  width: fit-content;
  padding: 5px;
  max-width: 85%;
  margin-block: 5px;
  padding-inline: 13px;
  margin-left: 10px;
  margin-right: 10px;
  clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 0% 100%, 5% 85%);
  border-radius: 5px;
}
.leftMenubutton {
  background-color: #868686;
  padding: 2px;
  display: none;
  border-radius: 3px;
}
/* @media screen and (max-width : 1180px) {
  .message-section-chat-input input {
    width : 70%
  }
} */

.backButton {
  display: none;
}

@media screen and (max-width: 760px) {
  .message-page {
    padding-inline: 0%;
  }
  .chat-users-section {
    position: absolute;
    background-color: white;
    z-index: 5;
    width: 100%;
    height: 90%;
    transition: width 0.5s;
  }
  .chat-users-section-open {
    width: 90%;
  }
  .chat-users-section-close {
    width: 0px;
  }
  .message-section {
    width: 100%;
  }
  .leftMenubutton {
    display: block;
  }
  .backButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 360px) {
  .message-page {
    padding-top: 100px;
  }
  .chat-users-section {
    height: 80%;
  }
}
