.chatWindow {
  display: grid;
  grid-template-columns: 30% 65%;
  column-gap: 10px;
  height: calc(100vh - 100px);
}
.chats {
  list-style: none;
  padding: 0;
  max-height: calc(100vh - 170px);
  overflow-y: auto;
}
.user {
  border-bottom: 1px solid darkgray;
  padding: 5px;
  width: 95%;
}
.chatsDiv h2 {
  text-align: center;
  color: orange;
  font-size: 2.1rem;
  margin-top: 0;
  margin-bottom: 5px;
}
.chats :last-child {
  border: none;
}
.chatsDiv {
  border-right: 2px solid orange;
}
.user {
  display: flex;
  align-items: center;
  column-gap: 7px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 200ms ease-out;
}
.user:hover,
.active {
  background-color: rgb(238, 238, 238);
}
.user img {
  background-color: lightgray;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
@media (max-width: 670px) {
  .chatsDiv {
    height: calc(100vh - 65px);
    border-right: none;
  }
  .chats {
    max-height: calc(100vh - 135px);
  }
}
