.banner,
.welcome {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}
.banner h1 {
  font-size: 3.8rem;
}
.banner h3 {
  display: inline-block;
  margin: 0;
  font-size: 2rem;
  font-weight: 500;
}
.dynamicText {
  font-size: 2rem;
  width: 500px;
  font-weight: 500;
  width: 100%;
  display: flex;
  justify-content: center;
}

.dynamicText > div {
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.typewriter,
.banner span {
  color: orange;
}
.btn {
  margin-top: 20px;
  width: 60%;
  text-align: center;
}
.btn button {
  width: 40%;
}
.btn :first-child {
  border-radius: 20px 0 0 20px;
  margin-right: 5px;
}
.btn :last-child {
  border-radius: 0 20px 20px 0;
}
.counter {
  text-align: center;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.counter > :first-child {
  width: 60%;
}
.counter > h3 {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 500;
}
.digits {
  display: flex;
  justify-content: center;
  column-gap: 5px;
}

.digitContainer {
  width: 80px;
  height: 80px;
  font-size: 4em;
  font-weight: 600;
  color: orange;
  text-shadow: 0 2px 4px rgb(133, 133, 133);
  background: linear-gradient(
    0deg,
    rgb(201, 201, 201) 35%,
    rgb(177, 177, 177) 53%
  );
  border-radius: 3px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.3);
}
.digitContainer::before {
  content: "";
  position: absolute;
  left: 0;
  border-radius: 0 20px 20px 0px;
  height: 8px;
  width: 3px;
  background-color: rgba(0, 0, 0, 0.726);
}
.digitContainer::after {
  content: "";
  position: absolute;
  right: 0;
  border-radius: 20px 0 0 20px;
  height: 8px;
  width: 3px;
  background-color: rgba(0, 0, 0, 0.5);
}
.line {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.1);
}
.testimonials {
  display: flex;
  flex-direction: column;

  width: 100%;
}
.testimonials h3 {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 500;
}
.partners div,
.numbers > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  row-gap: 20px;
}
.numbers > div > div {
  text-align: center;
  font-size: 1.2rem;
}
.numbers > div > div p {
  margin: 0;
  font-size: 1.3rem;
  margin-top: 5px;
}
.numbers > div > div {
  box-shadow: 0 2px 3px lightgray;
  padding: 20px;
  border-radius: 5px;
}
.numbers > div > div i {
  font-size: 1.8rem;
  color: orange;
}

.partners img {
  width: 130px;
  filter: brightness(120%);
}
@media (max-width: 300px) {
  .banner h1 {
    font-size: 2.6rem;
  }
}
@media (max-width: 520px) {
  .modal {
    width: calc(97% - 40px);
    padding: 20px 26px;
  }
}

@media (max-width: 670px) {
  .dynamicText {
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }
  .banner h3 {
    text-align: center;
  }
  .btn {
    width: 90%;
  }
}
@media (max-width: 810px) {
  .modal {
    width: 76%;
    padding: 20px 26px;
  }
}
