.navbar {
  padding-block: 10px;
  display: flex;
  background-color: #f8f6f4;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.welcome-content {
  height: 95vh;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mission-ed-logo {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mission-ed-logo text {
  font-size: 25px;
  font-weight: 700;
  margin-left: 3px;
  color: #ff6200;
}
.nav-items Button {
  margin-inline: 5px;
}
.form-inputs {
  display: flex;
  flex-direction: column;
  width: 400px;
}
.form-buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.form-buttons Button {
  margin-inline: 10px;
}
@media screen and (max-width: 760px) {
  .form-inputs {
    width: 300px;
  }
}

.bg_image{
  background-color: white;
  height: 600px;
  padding-top: 100px;
  
}

.bg_image .left{
  float: left;
  width: 50%;
  align-items: center;
  justify-content: center;
  height: 600px;
  font-size: 46px;
  padding-top: 50px;
  padding-left: 30px;
  color: #000000;
  background-color: #ffffff;
  animation: 
  typing 3.5s steps(30, end) infinite,
  blink-caret .75s step(1) infinite;
}

.bg_image .right{
  float: right;
  width: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 600px;
  font-size: 20px;
  padding-top: 40px;
  color:  #ff6200;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  animation: fadeIn linear 5s 1;
}

.bg_image .right .h1{
 font-size: large;
 align-items: center;
 justify-content: center;
 line-height: 1.8;
 margin-bottom: 100px; 

}

.bg_image .right .para{
  font-size: 25px;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px; 

 }
 @keyframes fadeIn {
  0% {color:hsl(0, 17%, 98%);}
  50% {color:rgb(255, 128, 0);}
  100% {color:#ff8000;}

}
.bg_image .right .buttons{
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.bg_image .right .buttons Button{
  color: #fff;
}
.bg_image .right .buttons Button .menu{
  color: #3f51b5;}

 