.navbar {
  width: 100%;
  position: fixed;
  z-index: 999;
  padding-block: 10px;
  display: flex;
  background-color: #f8f9fa;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mission-ed-logo {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mission-ed-logo text {
  font-size: 25px;
  font-weight: 700;
  margin-left: 3px;
  color: #ff6200;
}
.nav-items Button {
  margin-inline: 5px;
}
.form-inputs {
  display: flex;
  flex-direction: column;
  width: 400px;
}
.form-buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.form-buttons Button {
  margin-inline: 10px;
}
@media screen and (max-width: 760px) {
  .form-inputs {
    width: 300px;
  }
}
