.navbar {
  width: 100%;
  position: fixed;
  z-index: 999;
  padding-block: 10px;
  display: flex;
  background-color: #444753;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mission-ed-logo {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mission-ed-logo text {
  font-size: 25px;
  font-weight: 700;
  margin-left: 3px;
  color: #ff7824;
}
.nav-items Button {
  margin-inline: 5px;
}
.form-inputs {
  display: flex;
  flex-direction: column;
  width: 400px;
}
.form-buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.form-buttons Button {
  margin-inline: 10px;
}
.header-section {
  padding-top: 100px;
  background-color: rgb(192, 192, 192);
  /* padding-block: 10px; */
}
.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.navbar-menu {
  display: flex;
  flex-direction: row-reverse;
}
.navbar-menu img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  align-self: center;
  margin-inline: 3px;
}
.navbar-menu img:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.select {
  background-color: white;
}
.create-button {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: rgb(124, 124, 124);
  color: white;
  height: 30px;
  padding: 2;
  margin-inline: 3px;
  border-radius: 5px;
  padding-inline: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.create-topic-text {
  /* color: white; */
  align-self: center;
  cursor: pointer;
}
.create-button:hover {
  opacity: 0.8;
}
.input-uper-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-block: 20px;
}
/* rgb(192, 192, 192) */
.input-title {
  width: 70%;
  height: 30px;
  outline: none;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(124, 124, 124);
  font-size: large;
  padding-left: 10px;
  color: #414141;
  border-radius: 4px;
}

.input-discription {
  width: 95.5%;
  height: 300px;
  resize: none;
  outline: none;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(124, 124, 124);
  font-size: large;
  padding-left: 10px;
  color: #414141;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  align-self: center;
}
.category-filter-box {
  border-radius: 5px;
  padding-inline: 4px;
  height: 30px;
  background-color: white;
  border: solid 2px rgb(117, 117, 117);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.category-filter-input {
  cursor: pointer;
  border: none;
  outline: none;
  width: 100px;

  font-weight: bold;
  color: #464646;
}
.category-filter-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.categories-filter {
  z-index: 0;
  padding: 5px;
  margin-top: 40px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  display: flex;
  flex-direction: column;
}
.category-filter-item {
  /* margin-block: 5px; */
  padding: 5px;
  cursor: pointer;
}
.category-filter-item:hover {
  color: white;
  background-color: rgb(122, 122, 122);
}

@media screen and (max-width: 760px) {
  .create-topic-text {
    display: none;
  }
  .input-uper-box {
    flex-direction: column;
  }
  .input-title {
    width: 95%;
    margin-bottom: 5px;
  }
}

.create-post-buttons-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
}
.create-post-button {
  cursor: pointer;
  background-color: rgb(95, 95, 95);
  padding: 8px;
  color: white;
  margin-inline: 10px;
  border-radius: 3px;
  padding-inline: 20px;
}
.post-icon-box:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.create-post-button:hover {
  opacity: 0.8;
}
.create-post-modal {
  padding-inline: 20%;
  margin-top: 30px;
  margin-bottom: 80px;
}

.textarea-post-modal {
  resize: none;
}
@media screen and (max-width: 760px) {
  .create-post-modal {
    padding-inline: 3%;
  }
}

.drawer-class {
  display: none;
}

.list {
  z-index: 2;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
  margin-bottom: -9px;
  width: 100%;
  /* box-shadow: 0 14px 24px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
}
.nav-links {
  text-decoration: none;
  text-align: center;
  font-size: 12px;
  border: solid;
  border-color: rgb(255, 255, 255);
  border-width: 0px;
  border-radius: 5px;
  /* height: 100%;
  width: 99%; */
  display: flex;
  flex-direction: column;
  height: 50px;
  transition: border-bottom 0.2s;
}

.nav-icon {
  color: white;
  width: 70px;
  height: 30px;
  transition: height 0.2s;
}

.active-nav-links {
  border-bottom: solid white 4px;
}

.nav-icon:hover {
  width: 70px;
  height: 35px;
}
.active-nav-icon {
  height: 60px;
  width: 70px;
}
.nav-text {
  color: white;
  font-size: 10px;
}

@media screen and (max-width: 760px) {
  .list {
    display: none;
  }
  .drawer-class {
    display: block;
  }
  .navbar-menu {
    flex-direction: row-reverse;
  }
}
