.title {
  font-weight: 500;
  text-align: center;
  font-size: 1.9rem;
  margin-top: 0;
}
.title span {
  color: orange;
}
.form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.formActions {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  width: 100%;
}
.formActions button {
  width: 100%;
}
.formActions :first-child {
  border-radius: 20px 0 0 20px;
}
.formActions :last-child {
  border-radius: 0px 20px 20px 0px;
}
@media (max-width: 670px) {
  .modal {
    padding: 20px;
    width: calc(98% - 40px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .form {
    width: 100%;
  }
}
