.profile-page {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  padding-bottom: 120px;
}
.profile-page-section {
  min-width: 70%;
}
.profile-user-card {
  padding: 10px;
  display: flex;
  border-bottom: solid 0.2px black;
}
.profile-user-card img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.profile-user-card div {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile-tabs-section {
  margin-top: 20px;
  display: flex;
}
.tabs-options {
  width: 15%;
  padding-top: 20px;
  padding-bottom: 20px;
  border: solid 0.5px rgb(167, 167, 167);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block: 20px;
  height: fit-content;
}
.tabs-options text {
  padding-left: 15px;
  padding-block: 5px;
  border-bottom: solid rgb(167, 167, 167) 0.3px;
  font-weight: 600;
  cursor: pointer;
}
.tabs-options text:hover {
  border-bottom: 2px solid rgb(167, 167, 167);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.active-tab {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-left: 4px solid rgb(124, 124, 124);
}
.active-tab-page {
  /* border: solid 0.1px; */
  border-radius: 20px;
  width: 100%;
  margin-inline: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  /* width: fit-content; */
}
.general-section {
  padding-left: 3%;
  display: flex;
  flex-direction: column;
  font-weight: 500;
}
.general-section img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 10px;
}
.general-section text {
  margin-top: 10px;
}
.picture-edit {
  background-color: white;
  padding: 3px;
  border: solid 3px rgb(94, 94, 94);
  position: absolute;
  border-radius: 50%;
  margin-left: 120px;
  margin-top: 110px;
  color: rgb(94, 94, 94);
}
.picture-edit:hover {
  color: rgba(0, 0, 0, 0.8);
  border-color: rgba(0, 0, 0, 0.8);
  background-color: transparent;
}
.reward-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.coins-section {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  font-weight: bold;
  padding-top: 30px;
  text-align: center;
}

.coins {
  background-color: rgb(63, 63, 63);
  color: rgb(220, 255, 64);
  padding: 8px;
  border-radius: 25px;
}

.coins-button:hover {
  background-color: rgb(97, 97, 97);
}

@media screen and (max-width: 760px) {
  .profile-tabs-section {
    display: flex;
    flex-direction: column;
  }
  .tabs-options {
    /* width: 15%; */
    justify-self: center;
    align-self: center;
    width: 100%;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    border: solid 0px rgb(167, 167, 167);
    /* border-radius: 5px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-block: 10px;
  }
  .tabs-options text {
    padding-inline: 15px;
    padding-block: 5px;
    border-bottom: solid rgb(167, 167, 167) 0.3px;
    font-weight: 600;
    cursor: pointer;
  }
  .active-tab {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-left: none;
  }
}
