* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
.content{
    background-color: #f1f4ff;
}
  .section {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
.section-title{
    justify-content: center;
    text-align: center;

}

#container {
    display: flex;
    align-items: center;
    justify-content: center;

  }

 .row {
    
    padding-top: 2%;
    padding-bottom: 5%;
    margin-left: 20px;
    margin-right: 20px;  
 }
 
 
 .card{
     float:left;
     padding: 5px;
     padding-right: 5px;
     margin-right: 25px;
     color: black;
     width: 250px;
     height: 270px;
     padding-bottom: 5px;
     background-color: #ff6200;
     
 }

.img{
  padding-top: 10%;
    height: 100%;
    width: 100%;
    object-fit: contain;
    padding-bottom: 1px;
}

  @media screen and (max-width: 768px) {
    .content {
     display: flex;
     flex-direction: column;
     width: 100%;
     height: 80%;
    }
  .card{
width: 100%;
  }
.section-title{
  width: 100%;
  display:flex;
  flex-direction: column;
  margin-top: 7%;
}

.section-store{
  width: 100%;
  display:flex;
  flex-direction: column;
}

    .img {
      width: 100%;
    }

    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
  .container{
width: 100%;
margin-top: 20px;
  }
}