.backgroundImage {
  width: 100%;
  height: 140px;
  background-color: rgb(255, 202, 104);
  box-shadow: 0 -4px 4px rgb(255, 202, 104);
}
.postsList {
  list-style: none;
  padding: 0;
  width: 100%;
}
.postsList * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.header {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  overflow: visible;
  justify-content: center;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.1rem;
  justify-content: space-evenly;
}
.info * {
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user h2,
.user p {
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 69px;
}

.marker {
  font-weight: 600;
  color: orange;
}
.info p,
.info span,
.info address {
  margin: 0;
  margin-bottom: 5px;
}
.info button {
  border-radius: 20px;
  width: 100%;
}
.user {
  text-align: center;
  overflow: visible;
}
.user h2 {
  margin-top: 40px;
  margin-bottom: 5px;
  font-size: 1.7rem;
}
.user p {
  margin-top: 2px;
  color: rgb(131, 131, 131);
  font-weight: 600;
  margin-bottom: 0;
}
.user img {
  width: 100px;
  height: 100px;
  white-space: normal;
  background-color: darkgray;
  box-shadow: 0px 2px 3px darkgray;
  border: 2px solid orange;
  transform: scale(1.8);
  border-radius: 50%;
}
.posts h2 {
  margin-top: 30px;
  text-align: center;
}
.network {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
}
.network > :first-child {
  border-top: 2px solid transparent;
  border-radius: 10px 10px 0 0;
}
.network > :last-child {
  border-radius: 0px 0px 10px 10px;
  border-bottom: 2px solid transparent;
}
.btn {
  background-color: rgb(243, 243, 243);
  width: 100%;
  text-align: center;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 1.15rem;
  transition: background-color 200ms ease-out, border-color 200ms ease-out;
}
.interact {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}
.actions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.actions > div {
  width: 100%;
}
.interact button {
  width: 100%;
}
.interact :first-child {
  border-radius: 20px 0 0 20px;
}
.interact :last-child {
  border-radius: 0px 20px 20px 0px;
}
.count {
  font-weight: 600;
  margin-right: 5px;
}
.network > :first-child:hover {
  background-color: transparent;
  border-color: orange;
}
.network > :last-child:hover {
  background-color: transparent;
  border-color: orange;
}
.feedControls {
  margin-top: 15px;
  text-align: center;
}
.switchBtn {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid transparent;
  font-weight: 600;
  font-size: 1.3rem;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 200ms ease-out,
    border-bottom-color 200ms ease-out, color 200ms ease-out;
}
.switchBtn:hover {
  background-color: rgba(255, 170, 0, 0.11);
  border-bottom-color: orange;
}
.activeBtn {
  border-bottom-color: orange;
}
.empty {
  text-align: center;
  margin: 0;
  color: rgb(129, 129, 129);
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 15px;
}
@media (max-width: 670px) {
  .header {
    grid-template-columns: 100%;
  }
  .actions,
  .header {
    row-gap: 15px;
  }
  .interact :nth-child(2) {
    border-radius: 0;
  }
  .user img {
    width: 85px;
    height: 85px;
  }
  .feedControls button {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  .noAbout :last-child {
    border-radius: 20px !important;
  }
}

@media (max-width: 320px) {
  .interact {
    flex-direction: column;
    row-gap: 10px;
  }
  .interact button {
    border-radius: 20px !important;
  }
}
