.topic-page {
  background-color: rgb(192, 192, 192);
  padding-inline: 15%;
  padding-top: 120px;
  padding-bottom: 70px;
}
.topic-section {
  background-color: white;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.topic-section h1 {
  color: rgb(77, 77, 77);
}
.topic-section h4 {
  color: rgb(121, 236, 13);
}
.reply-box {
  padding-left: 2%;
  padding-right: 10%;
}
.header-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.header-heading-save {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  border: solid 1px;
  width: fit-content;
  border-radius: 5px;
  padding-inline: 3px;
}
.header-save-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-heading-save text {
  align-content: center;
  font-size: 18px;
  margin-inline: 5px;
}
.reply h2 {
  font-weight: 400;
}
.reply h3 {
  font-weight: 400;
}
.text-area {
  width: 80%;
  margin-left: 10px;
  outline: none;
  resize: none;
  height: 80px;
  border: solid 3px;
  color: rgb(80, 80, 80);
  border-color: rgb(124, 124, 124);
  font-size: 15px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.comment-button {
  margin-top: 10px;
  margin-left: 10px;
  width: fit-content;
  cursor: pointer;
  color: white;
  background-color: rgb(100, 100, 100);
  padding: 8px;
  padding-inline: 10px;
  border-radius: 3px;
}
.comment-button:hover {
  opacity: 0.8;
}
.comments {
  padding: 20px;
  margin-top: 30px;
  background-color: white;
  width: 80%;
  border-radius: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.auther {
  display: flex;
  flex-direction: row;
}
.auther-icon img {
  width: 60px;
  height: 60px;
  align-self: center;
  border-radius: 50%;
}
.topic-description {
  font-weight: 400;
  padding-inline: 10%;
}
.comment-reply-box {
  display: flex;
  flex-direction: column;
}
.comment-box {
  margin-top: 20px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (max-width: 760px) {
  .topic-page {
    padding-inline: 1%;
  }
  .comment-box {
    width: 90%;
  }
  .comments {
    width: 85%;
  }
}
.commenter-auther {
  display: flex;
  flex-direction: row;
}
.commenter-icon img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  align-self: center;
}
