.noComments {
    color: rgb(170, 170, 170);
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
  }
.replyForm {
    width: 100%;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .replyForm input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    border-bottom: 3px solid lightgray;
    transition: border-color 200ms ease-out;
  }
  .replyForm input:hover,
  .replyForm input:focus {
    border-color: orange;
  }
  .replyForm button {
    background-color: transparent;
    border: 2px solid transparent;
    font-size: 1.2rem;
    color: orange;
    cursor: pointer;
    border-radius: 4px;
    transition: color 200ms ease-out, background-color 200ms ease-out;
  }
  .replyForm button:hover,
  .replyForm button:focus {
    color: white;
    background-color: orange;
  }