.userInfo {
  display: flex;
}
.comment {
  padding: 20px 15px;
  box-shadow: 0px 2px 3px lightgray;
  border-radius: 7px;
}
.comment > p {
  font-size: 1.15rem;
  margin-left: 10px;
  font-weight: 500;
}
.userInfo img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: lightgray;
}
.userInfo a {
  display: flex;
  align-items: center;
}
.userInfo time {
  margin-left: 10px;
  font-size: 0.9rem;
  color: rgb(143, 143, 143);
  font-weight: 600;
}
.userInfo p {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
  margin-left: 10px;
}

.commentActions button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 1.1rem;
  margin-right: 20px;
  font-weight: 600;
  color: rgb(175, 175, 175);
  transition: filter 200ms ease-out;
}
.delete{
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 1.1rem;
  margin-right: 20px;
  font-weight: 600;
  color: rgb(175, 175, 175);
  transition: 200ms ease-out;
}
.delete:hover{
  color: white;
  background-color: rgb(248, 135, 135);
  border-radius: 3px;
}
.commentActions button:hover {
  filter: brightness(80%);
}
.commentActions .active {
  color: orange;
}
.commentActions .active i {
  animation: pop 300ms ease-in-out forwards;
}
.likes {
  display: flex;
  align-items: baseline;
}
.likeCount {
  margin-bottom: 5px;
  font-weight: 500;
  display: block;
  color: rgb(175, 175, 175);
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
@media (max-width: 560px) {
  .comment {
    padding: 20px 10px;
    padding-top: 30px;
  }
  .commentActions button {
    margin-right: 0;
    font-size: 15px;
    padding: 10px 15px;
  }
  .likeCount {
    font-size: 1rem;
  }
}
