* {
  -webkit-font-smoothing: antialiased !important;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
  height: 93%;
  transition: width 200ms ease-out;
}

::-webkit-scrollbar-track {
  background-color: rgb(233, 230, 230);
  border-radius: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(131, 131, 131, 0.308);
  border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(124, 124, 124, 0.473);
  transition: backgroundColor 200ms ease-in;
}
