.empty {
  text-align: center;
  margin: 0;
  color: rgb(129, 129, 129);
  font-size: 1.6rem;
  font-weight: 600;
}
.btn {
  text-align: center;
  margin: 10px 0;
}
.btn button {
  border-radius: 20px;
  width: 80%;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: calc(100vh - 36px - 72px);
  overflow: auto;
}
.modal {
  padding-bottom: 5px;
  max-height: calc(100vh - 40px);
}

@media (max-width: 670px) {
  .modal {
    padding: 20px;
    padding-bottom: 5px;
    width: calc(100% - 50px);
  }
}
